<div class="RightContent">
 <h3>Blog Postings</h3>
<% recent_posts = Post.all(:limit => 10, :order => "created_at DESC")%>
<% recent_posts.each do |ind_post| %>
    <div><%= link_to ind_post.title, ind_post %></div>
<% end %>
	<h3><%= link_to 'All Blog Posts', posts_path %></h3>
<h3>Announcements</h3>
<% recent_announcements = Announcement.all(:limit => 10, :order => "created_at DESC")%>
<% recent_announcements.each do |ind_announcement| %>
    <div><%= link_to ind_announcement.title, ind_announcement %></div>
<% end %>
	<h3><%= link_to 'All Announcements', announcements_path %></h3>	
</div>