<div class="footer">
<%= link_to 'Blog', posts_path %><%= link_to 'Announcements', announcements_path %><%= link_to 'Survey', new_survey_path%><a class="lastrow" href="/about/index">About Us</a><a class="lastrow" href="/sitemap/index">Site Map</a><br>
Copyright 2011 &copy; sahmcentral.com, All rights reserved.
</div>