<div class="footer">
<ul><li><%= link_to 'Blog', posts_path %></li><li><%= link_to 'Announcements', announcements_path %></li><li><%= link_to 'Survey', new_survey_path%></li><li><a class="lastrow" href="/about/index">About Us</a></li><li><a class="lastrow" href="/sitemap/index">Site Map</a></li></ul>
Copyright 2011 © Sahmcentral.com, All rights reserved.
</div>