<center>
<div class="Navigation">
    <ul><li><%= link_to 'Home', root_url %></li><li><%= link_to 'Blog', posts_path %></li><li><%= link_to 'Announcements', announcements_path %></li><li><a class="lastrow" href="/about">About Us</a></li></ul>
</div>
<h1 style="color: red;">Site Currently Under Development</h1>
<h1 style="color: #ccc;">S.A.H.M. Central</h1>
<h3 style="color: #aaa;">A Central Place For Moms To Go</h3>
<div class="center">
<div class="GlobCtrCC">
<div class="innerBody">
<div class="Header">
</div>
