<center>
<div class="center">
<div class="innerSite">
<div class="Navigation">
    <ul><li><%= link_to 'Blog', posts_path %></li><li><%= link_to 'Announcements', announcements_path %></li><li><a class="lastrow" href="/about">About Us</a></li></ul>
</div>
<h1 class="siteLogo"><a href="http://sahmcentral.com"><img class="logo" src="http://sahmcentral.com/images/HeaderLogo.png" alt="Sahmcentral.com"></a></h1>
<div class="innerBody">
<div class="Header">
</div>
