@charset "utf-8";
body {
background:#CCCCCC;
color:#111111;
font-family:"Trebuchet MS",Helvetica,sans-serif;
}
a {
text-decoration:none;
color:#000000;
}
.center {
margin-left:auto;
margin-right:auto;
}
.siteLogo{
color: #ccc;
margin:0 0 0 15px;
padding:0;
}
.siteLogo a{
border-style : outset;
border-color: red;
border-width:7px;
font-weight:bold;
font-family: "Comic Sans MS", sans-serif;	
}
.siteLogoMessage {
color: #aaa;
margin:10px 0 0 15px;
}
.innerSite {
width:981px;
}
.innerSite {
width:981px;
text-align:left;
background:#ffffff;
border: 1px solid #ccc;
-moz-border-radius-topleft: 10px;
-moz-border-radius-topright: 10px;
-moz-border-radius-bottomleft: 10px;
-moz-border-radius-bottomright: 10px;
-webkit-border-top-left-radius: 10px;
-webkit-border-top-right-radius: 10px;
-webkit-border-bottom-left-radius: 10px;
-webkit-border-bottom-right-radius: 10px;
}
.Navigation {
padding:10px 0 0 8px;
/*background:url(NavigationGradiant.png) repeat-x;*/
}
.Navigation ul {
padding:0;
margin:0;
display:block;
height:30px;
float:right;
}
.Navigation ul li {
float:left;
display:block;
text-align:center;
}
.Navigation ul li a{
color:#111;
font-size:20px;
vertical-align:middle;
display:block;
line-height:30px;
overflow:hidden;
font-weight:normal;
margin:0 10px;
padding:0 10px;
-moz-border-radius-topleft: 10px;
-moz-border-radius-topright: 10px;
-moz-border-radius-bottomleft: 10px;
-moz-border-radius-bottomright: 10px;
-webkit-border-top-left-radius: 10px;
-webkit-border-top-right-radius: 10px;
-webkit-border-bottom-left-radius: 10px;
-webkit-border-bottom-right-radius: 10px;
}
.Navigation ul li .lastrow {
}
.Navigation ul li a:hover {
background:#ccc;
}
.InnerContent {
min-height:700px;
}
.LeftContent {
float:left;
width:758px;
}
.PadLeft {
padding-left:20px;
padding-right:10px;
}
.PadTop {
padding:10px 0;
}
.LeftContent .FloatRight {
float:right;
}
.LeftContent .FloatRight h5 {
margin:0;
padding:0;
} 
.LeftContent div h3 {
margin:0;
padding:0;
}
.LeftContent .comment {
border-bottom:2px dashed #CCCCCC;

}
.LeftContent .beginComment h2 {
border-top:2px dashed #333333;
padding-top:5px;
}
.LeftContent .commentContent {
padding:0 0 0 10px;
}
.LeftContent .commentLabel {
float:left;
padding-right:10px;
width:60px;
}
.InnerContent .paintingOnly {
padding:20px 0 20px 250px;
}
.InnerContent .GalleryImages a {
padding: 10px 50px;
display:block;
float:left;
}
.RightContent {
float:left;
width:220px;
min-height:700px;
}
.RightContent .Section {
margin:10px;
border: 1px solid #ccc;
-moz-border-radius-topleft: 10px;
-moz-border-radius-topright: 10px;
-moz-border-radius-bottomleft: 10px;
-moz-border-radius-bottomright: 10px;
-webkit-border-top-left-radius: 10px;
-webkit-border-top-right-radius: 10px;
-webkit-border-bottom-left-radius: 10px;
-webkit-border-bottom-right-radius: 10px;
background:none repeat scroll 0 0 #ccc;
}
.InnerContent .RightContent h3 {
padding:8px;
margin:0;
text-align:center;
}
.InnerContent .RightContent .Section div {
display:block;
font-size:18px;
padding:10px;
background:none repeat scroll 0 0 #ffffff;
}
.InnerContent .RightContent div a {
	color:#111111;
}
textarea {
	width:500px;
	height:150px;
}
.footer {
color:#5B2424;
font-size:12px;
text-align:center;
clear:both;
}
.footer .developer {
font-size:10px;
}
