@charset "utf-8";
body {
background:#CCCCCC;
color:#111111;
font-family:"Trebuchet MS",Helvetica,sans-serif;
}
a {
text-decoration:none;
color:#000000;
}
.center {
margin-left:auto;
margin-right:auto;
}
.innerSite {
width:981px;
}
.innerSite {
width:981px;
text-align:left;
border:8px solid black;
background:#eeeeee;
border-top:2px solid black;
border-left:none;
}
.Navigation {
padding:10px 0 0 8px;
/*background:url(NavigationGradiant.png) repeat-x;*/
}
.Navigation ul {
padding:0;
margin:0;
display:block;
height:30px;
width:973px;
}
.Navigation ul li {
float:left;
display:block;
text-align:center;
margin-left:30px;
}
.Navigation ul li a{
color:#111;
font-size:20px;
vertical-align:middle;
border:3px dashed #000;
display:block;
line-height:30px;
overflow:hidden;
font-weight:normal;
width:192px;
}
.Navigation ul li .lastrow {
}
.Navigation ul li a:hover {
background:#ccc;
}
.InnerContent {
min-height:700px;
}
.LeftContent {
float:left;
width:758px;
}
.PadLeft {
padding-left:20px;
padding-right:10px;
}
.PadTop {
padding:10px 0;
}
.LeftContent .FloatRight {
float:right;
}
.LeftContent .FloatRight h5 {
margin:0;
padding:0;
} 
.LeftContent div h3 {
margin:0;
padding:0;
}
.LeftContent .comment {
border-bottom:2px dashed #CCCCCC;

}
.LeftContent .beginComment h2 {
border-top:2px dashed #333333;
padding-top:5px;
}
.LeftContent .commentContent {
padding:0 0 0 10px;
}
.LeftContent .commentLabel {
float:left;
padding-right:10px;
width:60px;
}
.RightContent {
float:left;
width:220px;
min-height:700px;
}
.RightContent .Section {
margin:20px;
border 3px solid #CCC;
}
.InnerContent .paintingOnly {
padding:20px 0 20px 250px;
}
.InnerContent .GalleryImages a {
padding: 10px 50px;
display:block;
float:left;
}
.InnerContent .RightContent {
background:#aaaaaa;
border-left: 3px solid black;
}
.InnerContent .RightContent h3 {
padding:8px;
margin:10px 0 0 5px;
background:url("http://www.sahmcentral.com/images/railroad_header.png") no-repeat scroll left top transparent;
}
.InnerContent .RightContent div {
display:block;
font-size:18px;
padding:14px 10px 0;
}
.InnerContent .RightContent div a {
	color:#111111;
}
textarea {
	width:500px;
	height:150px;
}
.footer {
color:#5B2424;
font-size:12px;
text-align:center;
clear:both;
}
.footer .developer {
font-size:10px;
}
