@charset "utf-8";
body {
background:url("http://sahmcentral.com/images/background.png") repeat scroll 0 0 #FFFFFF;
color:#111111;
font-family:"Trebuchet MS",Helvetica,sans-serif;
}
a {
text-decoration:none;
color:#000000;
}
.center {
margin-left:auto;
margin-right:auto;
}
#HomePage .PadLeft {
padding: 0 10px;
}
#HomePage .InnerContent {
min-height:0;
}
#HomePage .Navigation {
padding:0;
text-align:center;
}
#HomePage .Navigation ul {
height:auto;
float:none;
}
#HomePage .Navigation ul li {
float:none;
padding:0;
margin:0;
}
#HomePage .Navigation ul li a{
font-size:24px;
margin:0;
padding:10px 0;
width:100%;
}
.homeLogo{
width:290px;
height:100px;
margin-left:-10px;
background: transparent url(http://sahmcentral.com/images/logoMobile.png) no-repeat scroll 0px 0px;
}
.siteLogo{
color: #ccc;
margin:0;
padding:0;
}
.pageFooter .siteLogo{
margin:-15px 0 0 15px;
}
.siteLogo img {
border:medium none;
width:290px;
}
.siteLogoMessage {
color: #aaa;
margin:0 0 0 75px;
}
.innerSite {
width:100%;
text-align:left;
background:#ffffff;
border: 1px solid #ccc;
margin:10px;
-moz-border-radius-topleft: 10px;
-moz-border-radius-topright: 10px;
-moz-border-radius-bottomleft: 10px;
-moz-border-radius-bottomright: 10px;
-webkit-border-top-left-radius: 10px;
-webkit-border-top-right-radius: 10px;
-webkit-border-bottom-left-radius: 10px;
-webkit-border-bottom-right-radius: 10px;
}
.Navigation {
padding:0 0 0 8px;
}
.Navigation ul {
padding:0;
margin:0;
display:block;
height:30px;
float:none;
}
.Navigation ul li {
display:block;
text-align:center;
float:left;
}
.Navigation ul li a{
color:#111;
font-size:20px;
vertical-align:middle;
display:block;
line-height:30px;
overflow:hidden;
font-weight:normal;
font-style:italic;
margin:0 10px;
padding:10px;
width:100%;
-moz-border-radius-topleft: 10px;
-moz-border-radius-topright: 10px;
-moz-border-radius-bottomleft: 10px;
-moz-border-radius-bottomright: 10px;
-webkit-border-top-left-radius: 10px;
-webkit-border-top-right-radius: 10px;
-webkit-border-bottom-left-radius: 10px;
-webkit-border-bottom-right-radius: 10px;
}
.Navigation ul li .lastrow {
}
.Navigation ul li a:hover {
background:#ccc;
}
.innerBody {
clear:both;
}
.InnerContent {
min-height:200px;
}
.LeftContent h1 {
font-size:22px;
}
.PadLeft {
padding-left:20px;
padding-right:10px;
}
.PadTop {
padding:10px 0;
}
.LeftContent .FloatRight {
float:right;
}
.LeftContent .FloatRight h5 {
margin:0;
padding:0;
} 
.LeftContent div h3 {
margin:0;
padding:0;
}
.LeftContent .comment {
border-bottom:2px dashed #CCCCCC;

}
.LeftContent .beginComment h2 {
border-top:2px dashed #333333;
padding-top:5px;
}
.LeftContent .commentContent {
padding:0 0 0 10px;
}
.LeftContent .commentLabel {
float:left;
padding-right:10px;
width:60px;
}
.LeftContent .field {
padding: 5px 0;
}
.InnerContent .paintingOnly {
padding:20px 0 20px 250px;
}
.InnerContent .GalleryImages a {
padding: 10px 50px;
display:block;
float:left;
}
.RightContent {
display:none;
}
.RightContent .Section {
margin:10px;
border: 1px solid #ccc;
-moz-border-radius-topleft: 10px;
-moz-border-radius-topright: 10px;
-moz-border-radius-bottomleft: 10px;
-moz-border-radius-bottomright: 10px;
-webkit-border-top-left-radius: 10px;
-webkit-border-top-right-radius: 10px;
-webkit-border-bottom-left-radius: 10px;
-webkit-border-bottom-right-radius: 10px;
background:none repeat scroll 0 0 #ccc;
}
.InnerContent .RightContent h3 {
padding:8px;
margin:0;
text-align:center;
}
.InnerContent .RightContent .Section div {
display:block;
font-size:18px;
padding:10px;
background:none repeat scroll 0 0 #ffffff;
}
.InnerContent .RightContent div a {
color:#111111;
}
textarea {
width:500px;
height:150px;
}
.footer {
color:#5B2424;
font-size:18px;
text-align:center;
clear:both;
}
.footer a{
float: left;
color:#111;
font-size:20px;
vertical-align:middle;
display:block;
line-height:30px;
overflow:hidden;
font-weight:normal;
font-style:italic;
width:100%;
padding:10px 0;
-moz-border-radius-topleft: 10px;
-moz-border-radius-topright: 10px;
-moz-border-radius-bottomleft: 10px;
-moz-border-radius-bottomright: 10px;
-webkit-border-top-left-radius: 10px;
-webkit-border-top-right-radius: 10px;
-webkit-border-bottom-left-radius: 10px;
-webkit-border-bottom-right-radius: 10px;
}
.clear {
clear:both;
}
.footer .developer {
font-size:10px;
}