<body topmargin="0" bottommargin="0">
<%= render 'partials/sheader' %>
<div class="InnerContent">
<div class="LeftContent">
<div class="PadLeft">
<h1>Survey</h1>

<%= render 'form' %>

 </div>
 </div>
<%= render 'partials/scolumn2' %>
</div>
<%= render 'partials/sfooter' %>
</div>
</div>
</div>
</center>
</body>
