<!DOCTYPE html>
<html>
<head>
  <title>Stay at Home Mom Central</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

</body>
</html>
